* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #3e3e3e;
    font: 18px Arial, Helvetica, sans-serif;
    background-color: #f9fafb
}
header {
    border-bottom: 2px solid #eaeaea;
    color: #fff;
	background-color: #4848b5;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
}
main {
    flex-grow: 1;
}
.main-wrap {
    padding: 20px;
}
h2 {
    margin-bottom: 10px;
    text-align: center;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 20px;
    border: 1px solid #4141a2;
    border-radius: 4px;
    background-color: #f0f8ff;
}
.flight-info {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 25px 0 30px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 6px;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    color: #4848b5;
    font: inherit;
    text-transform: uppercase;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font: 700 19px Arial, Helvetica, sans-serif;
    letter-spacing: 0.9px;
    background-color: #4848b5;
    transition: .4s;
    cursor: pointer;
}
button:hover {
    background-color: #4141a2;
}
.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    min-width: 350px;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    color: #fafafa;
    font-weight: 700;
    background-color: #40a67b;
    transform: translateX(-50%);
}
.alert::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(img/alert.svg) 50%/cover no-repeat;
    transform: translateY(-50%);
}
.alert-err {
    background-color: #dc3545;
}
.btn-close {
    width: 25px;
    height: 20px;
    margin-top: 0;
    border: none;
    background: transparent url(img/close.svg) 50%/25px no-repeat !important;
    cursor: pointer;
}